<h2 class="center">Modifier un Stock</h2>
<br>
<br>
<form [formGroup]="updateStockForm" (ngSubmit)="updateStock()" class="form-container">
  <div class="form-group">
    <label>Numéro de Série:</label>
    <input type="text" class="form-control" formControlName="numSerie">
    <div *ngIf="updateStockForm.controls['numSerie'].invalid && updateStockForm.controls['numSerie'].touched" class="alert alert-danger">
      <p *ngIf="updateStockForm.controls['numSerie'].hasError('required')">Numéro de série requis</p>
      <p *ngIf="updateStockForm.controls['numSerie'].hasError('minlength')">Numéro de série doit contenir au moins 3 caractères</p>
    </div>
  </div>
  <div class="form-group">
    <label>IMEI:</label>
    <input type="text" class="form-control" formControlName="imei">
    <div *ngIf="updateStockForm.controls['imei'].invalid && updateStockForm.controls['imei'].touched" class="alert alert-danger">
      <p *ngIf="updateStockForm.controls['imei'].hasError('required')">IMEI requis</p>
      <p *ngIf="updateStockForm.controls['imei'].hasError('pattern')">IMEI doit être composé de 15 chiffres</p>
    </div>
  </div>
  <div class="form-group">
    <label>Date de Production:</label>
    <input type="date" class="form-control" formControlName="dateProduction">
    <div *ngIf="updateStockForm.controls['dateProduction'].invalid && updateStockForm.controls['dateProduction'].touched" class="alert alert-danger">
      <p *ngIf="updateStockForm.controls['dateProduction'].hasError('required')">Date de production requise</p>
    </div>
  </div>
  <div class="form-group">
    <label>Catégorie:</label>
    <input type="text" class="form-control" formControlName="categorie">
    <div *ngIf="updateStockForm.controls['categorie'].invalid && updateStockForm.controls['categorie'].touched" class="alert alert-danger">
      <p *ngIf="updateStockForm.controls['categorie'].hasError('required')">Catégorie requise</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary center">Mettre à jour Stock</button>
  <br>
  <br>
  <br>
  <br>
</form>
