<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="emailUser">Email</label>
    <input id="emailUser" formControlName="emailUser" type="email" class="form-control" />
    <div *ngIf="loginForm.get('emailUser')?.invalid && loginForm.get('emailUser')?.touched" class="invalid-feedback">
      A valid email is required.
    </div>
  </div>

  <div class="form-group">
    <label for="passwordUser">Password</label>
    <input id="passwordUser" formControlName="passwordUser" type="password" class="form-control" />
    <div *ngIf="loginForm.get('passwordUser')?.invalid && loginForm.get('passwordUser')?.touched" class="invalid-feedback">
      Password is required.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>

  <!-- Button to navigate to registration page -->
  <div class="form-group">
    <button type="button" class="btn btn-secondary" (click)="navigateToRegistration()">Sign Up</button>
  </div>
</form>
