<div class="container">
  <h2>Composants</h2>
  <!-- Pro Button to navigate to the addcomposant page -->
  <button class="btn btn-primary btn-add-composant" [routerLink]="['/component/addcomposant']">
    <i class="bi bi-plus-circle"></i> <!-- Icône d'ajout -->
  </button>
</div>
<div>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Quantité</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let composant of composants">
      <td>{{ composant.nomC }}</td>
      <td>{{ composant.quantite }}</td>
      <td>
        <div class="action-buttons">
          <!-- Bouton de mise à jour avec icône -->
          <button class="btn btn-update" [routerLink]="['/component/updatecomposant', composant?.idComposant]">
            <i class="bi bi-pencil"></i> <!-- Icône de mise à jour -->
          </button>
          <!-- Bouton de suppression avec icône -->
          <button class="btn btn-backoffice-delete" (click)="deleteComposant(composant.idComposant)">
            <i class="bi bi-trash"></i> <!-- Icône de suppression -->
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
